<div class="publicsite">
  <header class="navigation" role="banner">
    <div class="navigation-wrapper">
      <a href="" class="logo"><img src="/images/logo.png" alt="Logo Image"></a>

      <nav role="navigation">
        <ul class="navigation-menu">
          <li class="nav-link"><a href="javascript:void(0)">How it works</a></li>
          <li class="nav-link"><a href="javascript:void(0)">Sign Up</a></li>
          <li class="nav-link">{{link-to "GO TO APP" 'app'}}</li>
        </ul>
      </nav>
    </div>
  </header>


  <div class="hero">
    <div class="hero-inner">
      <div class="hero-copy">
        <h1>Running a golf league as never been more simple</h1>
        <p>Simple Golftour is an easy way for you to run your own golf tour with friends, coworkers or other groups</p>
      </div>
      <button>SIGN UP NOW</button>
    </div>
  </div>


  <div class="wrapper">

    <h2>HOW IT WORKS</h2>

    <div class="how">
      <div class="how-image">
        <img src="/images/features_step_1.png" alt="Step 1 Image" />
      </div>
      <div class="how-content">
        <h1>First how Title or Author</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, quia modi minima debitis tempora ducimus quam vero impedit alias earum nemo error tenetur sed.</p>
        <p class="how-detail">Date or details about this post</p>
      </div>
    </div>

    <div class="how">
      <div class="how-image">
        <img src="/images/features_step_2.png" alt="Step 2 Image" />
      </div>
      <div class="how-content">
        <h1>Another One</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, quia modi minima debitis tempora ducimus quam vero impedit alias earum nemo error tenetur sed.</p>
        <p class="how-detail">Date or details about this post</p>
      </div>
    </div>

    <div class="how">
      <div class="how-image">
        <img src="/images/features_step_3.png" alt="Step 3 Image" />
      </div>
      <div class="how-content">
        <h1>Another One</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, quia modi minima debitis tempora ducimus quam vero impedit alias earum nemo error tenetur sed.</p>
        <p class="how-detail">Date or details about this post</p>
      </div>
    </div>

    <div class="how">
      <div class="how-image">
        <img src="/images/features_step_4.png" alt="Step 4 Image" />
      </div>
      <div class="how-content">
        <h1>Another One</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, quia modi minima debitis tempora ducimus quam vero impedit alias earum nemo error tenetur sed.</p>
        <p class="how-detail">Date or details about this post</p>
      </div>
    </div>

    <div class="how">
      <div class="how-image">
        <img src="/images/features_step_5.png" alt="Step 5 Image" />
      </div>
      <div class="how-content">
        <h1>Another One</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, quia modi minima debitis tempora ducimus quam vero impedit alias earum nemo error tenetur sed.</p>
        <p class="how-detail">Date or details about this post</p>
      </div>
    </div>

  </div>



{{!--   <div class="wrapper" id="login">
    <form {{action 'authenticate' on='submit'}} class="form-signin">
      <legend>Login</legend>
      <label for='identification'>Email</label>
      {{input id='identification' placeholder='name@domain.com'
              value=identification}}

      <label for='password'>Password</label>
      {{input id='password' placeholder='Minimum 6 characters'
              type='password' value=password}}


      <button type='submit'>Login</button>
    </form>
  </div>
 --}}

  <footer class="footer" role="contentinfo">
    Simple Golftour - A very, very simple free software for golf leagues between friends.

    <div class="footer-secondary-links">

      <ul class="footer-social">
        <li><a href="https://www.facebook.com/simplegolftour">
          <img src="/images/facebook-logo-circle.png" alt="Facebook">
        </a></li>
        <li><a href="https://twitter.com/simplegolftour">
          <img src="/images/twitter-logo-circle.png" alt="Twitter">
        </a></li>
      </ul>
    </div>
  </footer>

</div>
