<form {{action 'authenticate' on='submit'}} class="form-signin">
  <legend>Logga in</legend>
  <label for='identification'>E-post</label>
  {{input id='identification' placeholder='E-post'
          value=identification}}

  <label for='password'>Lösenord</label>
  {{input id='password' placeholder='Lösenord'
          type='password' value=password}}


  <button type='submit'>Logga in</button>
</form>
